body{
    max-width: 500px;
    margin: auto;
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(139, 0, 139)
}

h1 {
    text-align:center;
}

h2 {
    text-align:center;
}

div {
    align-items: center;
    text-align:center;
}

#admin{
    color:white;
    background-color: rgb(167, 33, 0);
    border-radius: 8px;
    border-color: rgb(167, 33, 0);
}

#user{
    color:white;
    background-color: rgb(86, 0, 167);
    border-radius: 8px;
    border-color: rgb(86, 0, 167);
}

#back{
    margin-top: 50px;
    border-radius: 4px;
    background-color: #008CBA;
    color: white;
    border: 2px solid #008CBA;
    font-size: 12px;
    padding: 8px 25px;
}

